* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

body {
  background: #EBFAFF;
  position: relative;
}
body a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
body a:visited {
  color: inherit;
}

.page__container {
  padding: 0 12px 0;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .page__container {
    padding: 0 36px 0;
    margin-bottom: 35px;
  }
}
@media (min-width: 992px) {
  .page__container {
    padding: 0 28px 0;
  }
}
@media (min-width: 1200px) {
  .page__container {
    padding: 0 12px 0;
    max-width: 1200px;
    margin: 0 auto 63px;
  }
}
@media (min-width: 1440px) {
  .page__container {
    padding: 0;
  }
}

.rtm__price-list-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-top: 32px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .rtm__price-list-title {
    font-weight: 500;
    font-size: 32px;
    margin-top: 39px;
    margin-bottom: 14px;
  }
}
@media (min-width: 992px) {
  .rtm__price-list-title {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .rtm__price-list-title {
    font-size: 60px;
    margin-bottom: 44px;
    margin-top: 50px;
  }
}
.rtm__price-list-wrapper {
  padding: 20px 10px;
  border-radius: 12px;
  background: #FFF;
}
@media (min-width: 768px) {
  .rtm__price-list-wrapper {
    padding: 30px 20px;
  }
}
@media (min-width: 1200px) {
  .rtm__price-list-wrapper {
    padding: 40px 38px 48px;
  }
}
@media (min-width: 1440px) {
  .rtm__price-list-wrapper {
    padding: 40px 50px 48px;
  }
}
.rtm__price-list-content {
  gap: 20px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}
@media (min-width: 1200px) {
  .rtm__price-list-content {
    gap: 30px;
  }
}
.rtm__price-list-row {
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  min-width: 426px;
  width: 100%;
  padding: 0 20px;
  min-height: 40px;
  gap: 20px;
  border-radius: 10px;
  align-items: center;
  border: 1px solid rgba(207, 207, 207, 0.81);
  cursor: pointer;
}
.rtm__price-list-row:hover {
  background: #F8F8F8;
}
.rtm__price-list-row:active {
  background: #F5F4F4;
}
@media (min-width: 768px) {
  .rtm__price-list-row {
    min-height: 56px;
  }
}
@media (min-width: 992px) {
  .rtm__price-list-row {
    padding: 0 27px;
  }
}
@media (min-width: 1200px) {
  .rtm__price-list-row {
    padding: 0 90px 0 42px;
  }
}
@media (min-width: 1440px) {
  .rtm__price-list-row {
    padding: 0 102px 0 30px;
  }
}
.rtm__price-list-row-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.rtm__price-list-row--header {
  border: none;
  height: auto;
  min-height: auto;
  cursor: initial;
}
.rtm__price-list-row--header:hover {
  background: white;
}
.rtm__price-list-row--header:active {
  background: white;
}
.rtm__price-list-row-item {
  font-size: 12px;
  color: #373737;
  font-weight: 700;
  max-width: 100%;
  justify-self: flex-end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 6px 0;
  text-align: right;
}
@media (min-width: 768px) {
  .rtm__price-list-row-item {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .rtm__price-list-row-item {
    font-size: 18px;
  }
}
.rtm__price-list-row-item:nth-of-type(3) {
  text-overflow: initial;
  white-space: initial;
  overflow: initial;
  word-break: break-word;
}
.rtm__price-list-row-item:first-of-type {
  justify-self: flex-start;
}
.rtm__price-list-row-item--header {
  color: #777;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
}
@media (min-width: 768px) {
  .rtm__price-list-row-item--header {
    font-size: 18px;
  }
}
.rtm__price-list-row-title {
  color: #FEAB00;
  font-size: 14px;
  padding-left: 8px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .rtm__price-list-row-title {
    font-size: 20px;
    margin-top: 40px;
  }
}
@media (min-width: 1200px) {
  .rtm__price-list-row-title {
    padding-left: 42px;
  }
}
.rtm__price-list-footer {
  width: 100%;
  align-self: flex-end;
  margin-top: auto;
  padding-bottom: 22px;
}
@media (min-width: 768px) {
  .rtm__price-list-footer {
    padding-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .rtm__price-list-footer {
    padding-bottom: 28px;
  }
}
@media (min-width: 1200px) {
  .rtm__price-list-footer {
    padding-bottom: 33px;
  }
}
@media (min-width: 1440px) {
  .rtm__price-list-footer {
    padding-bottom: 28px;
  }
}
.rtm__price-list-footer-copyright {
  margin: 0;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
}

/*# sourceMappingURL=price-list.css.map */
