@import "../../../rtm-offer/fonts/search-fonts.css";
@import "normalize.css";
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

body {
  background: #EBFAFF;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.menu-active {
  overflow-y: hidden;
  height: 100%;
}
.menu-active::after {
  z-index: 1000;
  top: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: linear-gradient(132deg, rgba(0, 201, 214, 0.3) 28.5%, rgba(73, 50, 217, 0.3) 98.72%);
  backdrop-filter: blur(35px);
  background-size: cover;
}

.page__menu {
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
  z-index: 10000;
  display: none;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 768px) {
  .page__menu {
    max-width: 408px;
  }
}
@media (min-width: 992px) {
  .page__menu {
    max-width: 450px;
  }
}
@media (min-width: 1200px) {
  .page__menu {
    max-width: 498px;
  }
}
.page__menu--active {
  display: block;
}
@media (min-width: 768px) {
  .page__menu--active {
    position: fixed;
  }
}
.page__menu-content {
  height: 100%;
  width: 100%;
  padding: 32px 20px 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page__menu-content {
    padding: 0;
    position: relative;
  }
}
.page__menu-content-close-btn-wrapper {
  display: flex;
  width: auto;
  height: auto;
  margin-left: auto;
  color: #777777;
}
@media (min-width: 768px) {
  .page__menu-content-close-btn-wrapper {
    position: absolute;
    right: -52px;
    top: 16px;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 6px;
    color: black;
    cursor: pointer;
  }
}
.page__menu-content-close-btn-image {
  display: flex;
}
.page__menu-content-list {
  padding: 0;
  list-style: none;
  margin-top: 46px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .page__menu-content-list {
    padding: 60px 48px 0 60px;
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .page__menu-content-list {
    padding: 130px 60px 0;
  }
}
.page__menu-content-list-item {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
@media (min-width: 768px) {
  .page__menu-content-list-item {
    height: 64px;
    font-size: 24px;
    padding: 0 11px;
  }
  .page__menu-content-list-item:hover {
    border-radius: 8px;
    background: #ECECEC;
  }
}
.page__container {
  padding: 0 12px 0;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .page__container {
    padding: 0 36px 0;
    margin-bottom: 35px;
  }
}
@media (min-width: 992px) {
  .page__container {
    padding: 0 28px 0;
  }
}
@media (min-width: 1200px) {
  .page__container {
    padding: 0 12px 0;
    max-width: 1200px;
    margin: 0 auto 63px;
  }
}
@media (min-width: 1440px) {
  .page__container {
    padding: 0;
  }
}

.rtm__price-list-menu-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid #000000;
  font-size: 18px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .rtm__price-list-menu-wrapper {
    padding: 0;
    font-size: 20px;
  }
}
.rtm__price-list-menu-mobile {
  display: flex;
  align-items: center;
  gap: 4px;
}
.rtm__price-list-menu-mobile:hover {
  color: rgb(124, 124, 124);
}
.rtm__price-list-menu-mobile:active {
  color: rgb(188, 188, 188);
}
@media (min-width: 768px) {
  .rtm__price-list-menu-mobile {
    gap: 8px;
    padding-top: 41px;
    padding-bottom: 27px;
  }
}
@media (min-width: 992px) {
  .rtm__price-list-menu-mobile {
    padding-top: 38px;
    padding-bottom: 30px;
    cursor: pointer;
  }
}
@media (min-width: 1200px) {
  .rtm__price-list-menu-mobile {
    padding-top: 41px;
    padding-bottom: 32px;
  }
}
.rtm__price-list-menu-logo {
  margin: 0;
  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
@media (min-width: 768px) {
  .rtm__price-list-menu-logo {
    font-size: 20px;
    padding-top: 38px;
    padding-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .rtm__price-list-menu-logo {
    padding-bottom: 35px;
  }
}
.rtm__price-list-menu-language-selector {
  position: relative;
  cursor: pointer;
}
.rtm__price-list-menu-language-selector:hover {
  color: rgb(124, 124, 124);
}
.rtm__price-list-menu-language-selector:first-of-type::after {
  content: "";
  position: absolute;
  height: 24px;
  width: 2px;
  left: 29px;
  background: black;
}
@media (min-width: 1200px) {
  .rtm__price-list-menu-language-selector:first-of-type::after {
    left: 29px;
  }
}
.rtm__price-list-menu-language-selector-wrapper {
  display: none;
}
@media (min-width: 768px) {
  .rtm__price-list-menu-language-selector-wrapper {
    display: flex;
    gap: 15px;
    padding-top: 38px;
    padding-bottom: 25px;
  }
}
@media (min-width: 992px) {
  .rtm__price-list-menu-language-selector-wrapper {
    padding-top: 36px;
    padding-bottom: 27px;
  }
}
@media (min-width: 1200px) {
  .rtm__price-list-menu-language-selector-wrapper {
    padding-top: 41px;
    padding-bottom: 32px;
  }
}
.rtm__price-list-menu-language-selector--active {
  background: linear-gradient(90deg, #B276FF 0%, #FEAB00 97.75%);
  background-clip: text;
  -webkit-box-decoration-break: clone;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rtm__price-list-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-top: 32px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .rtm__price-list-title {
    font-weight: 500;
    font-size: 32px;
    margin-top: 39px;
    margin-bottom: 14px;
  }
}
@media (min-width: 992px) {
  .rtm__price-list-title {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .rtm__price-list-title {
    font-size: 60px;
    margin-bottom: 44px;
    margin-top: 50px;
  }
}
.rtm__price-list-wrapper {
  padding: 20px 10px;
  border-radius: 12px;
  background: #FFF;
}
@media (min-width: 768px) {
  .rtm__price-list-wrapper {
    padding: 30px 20px;
  }
}
@media (min-width: 1200px) {
  .rtm__price-list-wrapper {
    padding: 40px 38px 48px;
  }
}
@media (min-width: 1440px) {
  .rtm__price-list-wrapper {
    padding: 40px 50px 48px;
  }
}
.rtm__price-list-content {
  gap: 20px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}
@media (min-width: 1200px) {
  .rtm__price-list-content {
    gap: 30px;
  }
}
.rtm__price-list-row {
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  min-width: 426px;
  width: 100%;
  padding: 0 20px;
  min-height: 40px;
  gap: 20px;
  border-radius: 10px;
  align-items: center;
  border: 1px solid rgba(207, 207, 207, 0.81);
  cursor: pointer;
}
.rtm__price-list-row:hover {
  background: #F8F8F8;
}
.rtm__price-list-row:active {
  background: #F5F4F4;
}
@media (min-width: 768px) {
  .rtm__price-list-row {
    min-height: 56px;
  }
}
@media (min-width: 992px) {
  .rtm__price-list-row {
    padding: 0 27px;
  }
}
@media (min-width: 1200px) {
  .rtm__price-list-row {
    padding: 0 90px 0 42px;
  }
}
@media (min-width: 1440px) {
  .rtm__price-list-row {
    padding: 0 102px 0 30px;
  }
}
.rtm__price-list-row-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.rtm__price-list-row--header {
  border: none;
  height: auto;
  min-height: auto;
  cursor: initial;
}
.rtm__price-list-row--header:hover {
  background: white;
}
.rtm__price-list-row--header:active {
  background: white;
}
.rtm__price-list-row-item {
  font-size: 12px;
  color: #373737;
  font-weight: 700;
  max-width: 100%;
  justify-self: flex-end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 6px 0;
  text-align: right;
}
@media (min-width: 768px) {
  .rtm__price-list-row-item {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .rtm__price-list-row-item {
    font-size: 18px;
  }
}
.rtm__price-list-row-item:nth-of-type(3) {
  text-overflow: initial;
  white-space: initial;
  overflow: initial;
  word-break: break-word;
}
.rtm__price-list-row-item:first-of-type {
  justify-self: flex-start;
}
.rtm__price-list-row-item--header {
  color: #777;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
}
@media (min-width: 768px) {
  .rtm__price-list-row-item--header {
    font-size: 18px;
  }
}
.rtm__price-list-row-title {
  color: #FEAB00;
  font-size: 14px;
  padding-left: 8px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .rtm__price-list-row-title {
    font-size: 20px;
    margin-top: 40px;
  }
}
@media (min-width: 1200px) {
  .rtm__price-list-row-title {
    padding-left: 42px;
  }
}
.rtm__price-list-footer {
  width: 100%;
  margin-top: auto;
  padding-bottom: 22px;
}
@media (min-width: 768px) {
  .rtm__price-list-footer {
    padding-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .rtm__price-list-footer {
    padding-bottom: 28px;
  }
}
@media (min-width: 1200px) {
  .rtm__price-list-footer {
    padding-bottom: 33px;
  }
}
@media (min-width: 1440px) {
  .rtm__price-list-footer {
    padding-bottom: 28px;
  }
}
.rtm__price-list-footer-copyright {
  margin: 0;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
}

/*# sourceMappingURL=price-list.css.map */
