.rtm__main-menu-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid #000000;
  font-size: 18px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .rtm__main-menu-wrapper {
    padding: 0;
    font-size: 20px;
  }
}
.rtm__main-menu-mobile {
  display: flex;
  align-items: center;
  gap: 4px;
}
.rtm__main-menu-mobile:hover {
  color: rgb(124, 124, 124);
}
.rtm__main-menu-mobile:active {
  color: rgb(188, 188, 188);
}
@media (min-width: 768px) {
  .rtm__main-menu-mobile {
    gap: 8px;
    padding-top: 41px;
    padding-bottom: 27px;
  }
}
@media (min-width: 992px) {
  .rtm__main-menu-mobile {
    padding-top: 38px;
    padding-bottom: 30px;
    cursor: pointer;
  }
}
@media (min-width: 1200px) {
  .rtm__main-menu-mobile {
    padding-top: 41px;
    padding-bottom: 32px;
  }
}
.rtm__main-menu-logo {
  margin: 0;
  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.rtm__main-menu-logo:hover {
  color: rgb(124, 124, 124);
}
.rtm__main-menu-logo:active {
  color: rgb(188, 188, 188);
}
@media (min-width: 768px) {
  .rtm__main-menu-logo {
    font-size: 20px;
    padding-top: 38px;
    padding-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .rtm__main-menu-logo {
    padding-bottom: 35px;
  }
}
.rtm__main-menu-language-selector {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.rtm__main-menu-language-selector:hover {
  color: rgb(124, 124, 124);
}
.rtm__main-menu-language-selector:first-of-type::after {
  content: "";
  position: absolute;
  height: 24px;
  width: 2px;
  left: 29px;
  background: black;
}
@media (min-width: 1200px) {
  .rtm__main-menu-language-selector:first-of-type::after {
    left: 29px;
  }
}
.rtm__main-menu-language-selector-wrapper {
  display: none;
}
@media (min-width: 768px) {
  .rtm__main-menu-language-selector-wrapper {
    display: flex;
    gap: 15px;
    padding-top: 38px;
    padding-bottom: 25px;
  }
}
@media (min-width: 992px) {
  .rtm__main-menu-language-selector-wrapper {
    padding-top: 36px;
    padding-bottom: 27px;
  }
}
@media (min-width: 1200px) {
  .rtm__main-menu-language-selector-wrapper {
    padding-top: 41px;
    padding-bottom: 32px;
  }
}
.rtm__main-menu-language-selector--active {
  background: linear-gradient(90deg, #B276FF 0%, #FEAB00 97.75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rtm__bonus-menu-navbar {
  padding: 0 12px 27px;
}
@media (min-width: 768px) {
  .rtm__bonus-menu-navbar {
    padding: 0 33px 31px;
  }
}
@media (min-width: 992px) {
  .rtm__bonus-menu-navbar {
    padding: 0 30px 31px;
  }
}
@media (min-width: 1200px) {
  .rtm__bonus-menu-navbar {
    padding: 0 12px 26px;
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .rtm__bonus-menu-navbar {
    padding: 0 0 26px;
  }
}
.rtm__bonus-menu-header {
  background: linear-gradient(207deg, #D1FCFF 109.61%, #AFCFFF 36.27%);
}
.rtm__bonus-menu-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid #000000;
  font-size: 18px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .rtm__bonus-menu-wrapper {
    padding: 0;
    font-size: 20px;
  }
}
.rtm__bonus-menu-mobile {
  display: flex;
  align-items: center;
  gap: 4px;
}
.rtm__bonus-menu-mobile:hover {
  color: rgb(124, 124, 124);
}
.rtm__bonus-menu-mobile:active {
  color: rgb(188, 188, 188);
}
@media (min-width: 768px) {
  .rtm__bonus-menu-mobile {
    gap: 8px;
    padding-top: 41px;
    padding-bottom: 27px;
  }
}
@media (min-width: 992px) {
  .rtm__bonus-menu-mobile {
    padding-top: 38px;
    padding-bottom: 30px;
    cursor: pointer;
  }
}
@media (min-width: 1200px) {
  .rtm__bonus-menu-mobile {
    padding-top: 41px;
    padding-bottom: 32px;
  }
}
.rtm__bonus-menu-logo {
  margin: 0;
  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.rtm__bonus-menu-logo:hover {
  color: rgb(124, 124, 124);
}
.rtm__bonus-menu-logo:active {
  color: rgb(188, 188, 188);
}
@media (min-width: 768px) {
  .rtm__bonus-menu-logo {
    font-size: 20px;
    padding-top: 38px;
    padding-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .rtm__bonus-menu-logo {
    padding-bottom: 35px;
  }
}
.rtm__bonus-menu-language-selector {
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.rtm__bonus-menu-language-selector:hover {
  color: rgb(124, 124, 124);
}
.rtm__bonus-menu-language-selector:first-of-type::after {
  content: "";
  position: absolute;
  height: 24px;
  width: 2px;
  left: 29px;
  background: black;
}
@media (min-width: 1200px) {
  .rtm__bonus-menu-language-selector:first-of-type::after {
    left: 29px;
  }
}
.rtm__bonus-menu-language-selector-wrapper {
  display: none;
}
@media (min-width: 768px) {
  .rtm__bonus-menu-language-selector-wrapper {
    display: flex;
    gap: 15px;
    padding-top: 38px;
    padding-bottom: 25px;
  }
}
@media (min-width: 992px) {
  .rtm__bonus-menu-language-selector-wrapper {
    padding-top: 36px;
    padding-bottom: 27px;
  }
}
@media (min-width: 1200px) {
  .rtm__bonus-menu-language-selector-wrapper {
    padding-top: 41px;
    padding-bottom: 32px;
  }
}
.rtm__bonus-menu-language-selector--active {
  background: linear-gradient(90deg, #B276FF 0%, #FEAB00 97.75%);
  background-clip: text;
  -webkit-box-decoration-break: clone;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*# sourceMappingURL=header.css.map */
