@import "../../rtm-main/styles/mixins";

.rtm {
  &__main-menu {
    &-wrapper {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 16px;
      border-bottom: 1px solid #000000;
      font-size: 18px;
      font-weight: 500;

      @include for-tablet {
        padding: 0;
        font-size: 20px;
      }
    }

    &-mobile {
      display: flex;
      align-items: center;
      gap: 4px;
      &:hover {
        color: rgba(124, 124, 124, 1);
      }
      &:active {
        color: rgba(188, 188, 188, 1);
      }

      @include for-tablet {
        gap: 8px;
        padding-top: 41px;
        padding-bottom: 27px;
      }

      @include for-desktop {
        padding-top: 38px;
        padding-bottom: 30px;
        cursor: pointer;
      }

      @include for-desktop-large {
        padding-top: 41px;
        padding-bottom: 32px;
      }
    }

    &-logo {
      margin: 0;
      color: #000000;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      &:hover {
        color: rgba(124, 124, 124, 1);
      }

      &:active {
        color: rgba(188, 188, 188, 1);
      }

      @include for-tablet {
        font-size: 20px;
        padding-top: 38px;
        padding-bottom: 30px;
      }

      @include for-desktop-large {
        padding-bottom: 35px;
      }
    }

    &-language {
      &-selector {
        display: inline-block;
        position: relative;
        cursor: pointer;
        &:hover {
          color: rgba(124, 124, 124, 1);
        }

        &:first-of-type {
          &::after {
            content: '';
            position: absolute;
            height: 24px;
            width: 2px;
            left: 29px;
            background: black;

            @include for-desktop-large {
              left: 29px;
            }
          }
        }

        &-wrapper {
          display: none;

          @include for-tablet {
            display: flex;
            gap: 15px;
            padding-top: 38px;
            padding-bottom: 25px;
          }

          @include for-desktop {
            padding-top: 36px;
            padding-bottom: 27px;
          }

          @include for-desktop-large {
            padding-top: 41px;
            padding-bottom: 32px;
          }
        }

        &--active {
          background: linear-gradient(90deg, #B276FF 0%, #FEAB00 97.75%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }

  &__bonus-menu {
    &-navbar {
      padding: 0 12px 27px;

      @include for-tablet {
        padding: 0 33px 31px;
      }

      @include for-desktop {
        padding: 0 30px 31px;
      }

      @include for-desktop-large {
        padding: 0 12px 26px;
        max-width: 1200px;
        margin: 0 auto;
      }

      @include for-desktop-xl {
        padding: 0 0 26px;
      }
    }

    &-header {
      background: linear-gradient(207deg, #D1FCFF 109.61%, #AFCFFF 36.27%);
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 16px;
      border-bottom: 1px solid #000000;
      font-size: 18px;
      font-weight: 500;

      @include for-tablet {
        padding: 0;
        font-size: 20px;
      }
    }

    &-mobile {
      display: flex;
      align-items: center;
      gap: 4px;
      &:hover {
        color: rgba(124, 124, 124, 1);
      }

      &:active {
        color: rgba(188, 188, 188, 1);
      }

      @include for-tablet {
        gap: 8px;
        padding-top: 41px;
        padding-bottom: 27px;
      }

      @include for-desktop {
        padding-top: 38px;
        padding-bottom: 30px;
        cursor: pointer;
      }

      @include for-desktop-large {
        padding-top: 41px;
        padding-bottom: 32px;
      }
    }

    &-logo {
      margin: 0;
      color: #000000;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      &:hover {
        color: rgba(124, 124, 124, 1);
      }

      &:active {
        color: rgba(188, 188, 188, 1);
      }

      @include for-tablet {
        font-size: 20px;
        padding-top: 38px;
        padding-bottom: 30px;
      }

      @include for-desktop-large {
        padding-bottom: 35px;
      }
    }

    &-language {
      &-selector {
        position: relative;
        cursor: pointer;
        display: inline-block;
        &:hover {
          color: rgba(124, 124, 124, 1);
        }

        &:first-of-type {
          &::after {
            content: '';
            position: absolute;
            height: 24px;
            width: 2px;
            left: 29px;
            background: black;

            @include for-desktop-large {
              left: 29px;
            }
          }
        }

        &-wrapper {
          display: none;

          @include for-tablet {
            display: flex;
            gap: 15px;
            padding-top: 38px;
            padding-bottom: 25px;
          }

          @include for-desktop {
            padding-top: 36px;
            padding-bottom: 27px;
          }

          @include for-desktop-large {
            padding-top: 41px;
            padding-bottom: 32px;
          }
        }

        &--active {
          background: linear-gradient(90deg, #B276FF 0%, #FEAB00 97.75%);
          background-clip: text;
          -webkit-box-decoration-break: clone;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}