@import "../../../rtm-offer/fonts/fonts.css";
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px !important;
}

.body-main {
  background: #EBFAFF;
}

body {
  position: relative;
}
body a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
body a:visited {
  color: inherit;
}

.menu-active {
  overflow-y: hidden;
  height: 100%;
}
.menu-active::after {
  z-index: 1000;
  top: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: linear-gradient(132deg, rgba(0, 201, 214, 0.3) 28.5%, rgba(73, 50, 217, 0.3) 98.72%);
  backdrop-filter: blur(35px);
  background-size: cover;
}

.main__menu {
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
  z-index: 10000;
  display: none;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 768px) {
  .main__menu {
    max-width: 408px;
  }
}
@media (min-width: 992px) {
  .main__menu {
    max-width: 450px;
  }
}
@media (min-width: 1200px) {
  .main__menu {
    max-width: 498px;
  }
}
.main__menu--active {
  display: block;
}
@media (min-width: 768px) {
  .main__menu--active {
    position: fixed;
  }
}
.main__menu-content {
  height: 100%;
  width: 100%;
  padding: 32px 20px 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main__menu-content {
    padding: 0;
    position: relative;
  }
}
.main__menu-content-close-btn-wrapper {
  display: flex;
  width: auto;
  height: auto;
  margin-left: auto;
  color: #777777;
}
@media (min-width: 768px) {
  .main__menu-content-close-btn-wrapper {
    position: absolute;
    right: -52px;
    top: 16px;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 6px;
    color: black;
    cursor: pointer;
  }
}
.main__menu-content-close-btn-image {
  display: flex;
}
.main__menu-content-list {
  padding: 0;
  list-style: none;
  margin-top: 46px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .main__menu-content-list {
    padding: 60px 48px 0 60px;
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .main__menu-content-list {
    padding: 130px 60px 0;
  }
}
.main__menu-content-list-item {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main__menu-content-list-item {
    height: 64px;
    font-size: 24px;
    padding: 0 11px;
  }
  .main__menu-content-list-item:hover {
    border-radius: 8px;
    background: #ECECEC;
  }
}
.main__container {
  padding: 0 12px 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 52px;
}
@media (min-width: 768px) {
  .main__container {
    padding: 0 33px 0;
    margin-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .main__container {
    padding: 0 28px 0;
  }
}
@media (min-width: 1200px) {
  .main__container {
    padding: 0 12px 0;
    max-width: 1200px;
    margin: 0 auto 63px;
  }
}
@media (min-width: 1440px) {
  .main__container {
    padding: 0;
  }
}
.main__footer {
  margin-top: auto;
  width: 100%;
  align-self: flex-end;
  padding-bottom: 22px;
}
@media (min-width: 768px) {
  .main__footer {
    padding-bottom: 21px;
  }
}
@media (min-width: 992px) {
  .main__footer {
    padding-bottom: 28px;
  }
}
@media (min-width: 1200px) {
  .main__footer {
    padding-bottom: 33px;
  }
}
@media (min-width: 1440px) {
  .main__footer {
    padding-bottom: 28px;
  }
}
.main__footer-copyright {
  margin: 0;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
}

.rtm__contacts-menu-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid #000000;
  font-size: 18px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .rtm__contacts-menu-wrapper {
    padding: 0;
    font-size: 20px;
  }
}
.rtm__contacts-menu-mobile {
  display: flex;
  align-items: center;
  gap: 4px;
}
.rtm__contacts-menu-mobile:hover {
  color: rgb(124, 124, 124);
}
.rtm__contacts-menu-mobile:active {
  color: rgb(188, 188, 188);
}
@media (min-width: 768px) {
  .rtm__contacts-menu-mobile {
    gap: 8px;
    padding-top: 41px;
    padding-bottom: 27px;
  }
}
@media (min-width: 992px) {
  .rtm__contacts-menu-mobile {
    padding-top: 38px;
    padding-bottom: 30px;
    cursor: pointer;
  }
}
@media (min-width: 1200px) {
  .rtm__contacts-menu-mobile {
    padding-top: 41px;
    padding-bottom: 32px;
  }
}
.rtm__contacts-menu-logo {
  margin: 0;
  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.rtm__contacts-menu-logo:hover {
  color: rgb(124, 124, 124);
}
.rtm__contacts-menu-logo:active {
  color: rgb(188, 188, 188);
}
@media (min-width: 768px) {
  .rtm__contacts-menu-logo {
    font-size: 20px;
    padding-top: 38px;
    padding-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .rtm__contacts-menu-logo {
    padding-bottom: 35px;
  }
}
.rtm__contacts-menu-language-selector {
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.rtm__contacts-menu-language-selector:hover {
  color: rgb(124, 124, 124);
}
.rtm__contacts-menu-language-selector:first-of-type::after {
  content: "";
  position: absolute;
  height: 24px;
  width: 2px;
  left: 29px;
  background: black;
}
@media (min-width: 1200px) {
  .rtm__contacts-menu-language-selector:first-of-type::after {
    left: 29px;
  }
}
.rtm__contacts-menu-language-selector-wrapper {
  display: none;
}
@media (min-width: 768px) {
  .rtm__contacts-menu-language-selector-wrapper {
    display: flex;
    gap: 15px;
    padding-top: 38px;
    padding-bottom: 25px;
  }
}
@media (min-width: 992px) {
  .rtm__contacts-menu-language-selector-wrapper {
    padding-top: 36px;
    padding-bottom: 27px;
  }
}
@media (min-width: 1200px) {
  .rtm__contacts-menu-language-selector-wrapper {
    padding-top: 41px;
    padding-bottom: 32px;
  }
}
.rtm__contacts-menu-language-selector--active {
  background: linear-gradient(90deg, #B276FF 0%, #FEAB00 97.75%);
  background-clip: text;
  -webkit-box-decoration-break: clone;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rtm__contacts-content-wrapper {
  margin-top: 32px;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .rtm__contacts-content-wrapper {
    margin-top: 40px;
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }
}
@media (min-width: 1200px) {
  .rtm__contacts-content-wrapper {
    margin-top: 73px;
  }
}
.rtm__contacts-header {
  width: 100%;
  height: fit-content;
}
.rtm__contacts-title {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  background: linear-gradient(90deg, #B276FF 0%, #FEAB00 97.75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 768px) {
  .rtm__contacts-title {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  .rtm__contacts-title {
    background: linear-gradient(90deg, #B276FF 0%, #FEAB00 50.75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@media (min-width: 1200px) {
  .rtm__contacts-title {
    font-size: 56px;
    margin-top: 30px;
  }
}
.rtm__contacts-subtitle {
  margin: 0;
  font-size: 40px;
  font-weight: 500;
  color: #000000;
}
@media (min-width: 768px) {
  .rtm__contacts-subtitle {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .rtm__contacts-subtitle {
    font-size: 40px;
  }
}
.rtm__contacts-separator {
  margin-top: 24px;
  height: 2px;
  background: #9423FC;
  border: none;
}
@media (min-width: 768px) {
  .rtm__contacts-separator {
    height: 1px;
    margin-bottom: 24px;
  }
}
@media (min-width: 1200px) {
  .rtm__contacts-separator {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
.rtm__contacts-image {
  width: 263px;
  height: 278px;
  margin: 36px 0 32px auto;
}
@media (min-width: 768px) {
  .rtm__contacts-image {
    margin: unset;
    width: 336px;
    height: 361px;
    grid-row: 1/4;
    justify-self: flex-end;
  }
}
@media (min-width: 992px) {
  .rtm__contacts-image {
    width: 342px;
    height: 367px;
    position: relative;
    top: 15px;
  }
}
@media (min-width: 1200px) {
  .rtm__contacts-image {
    width: 448px;
    height: 481px;
  }
}
.rtm__contacts-image img {
  height: 100%;
  width: 100%;
}
.rtm__contacts-info-wrapper {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .rtm__contacts-info-wrapper {
    grid-row: 2/3;
    grid-column: 1;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .rtm__contacts-info-wrapper {
    margin-bottom: 82px;
  }
}
.rtm__contacts-info-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 20px 0;
}
.rtm__contacts-info-text-group:first-of-type {
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .rtm__contacts-info-text-group:first-of-type {
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .rtm__contacts-info-text-group:first-of-type {
    margin-bottom: 36px;
  }
}
@media (min-width: 1200px) {
  .rtm__contacts-info-text-group:first-of-type {
    margin-bottom: 32px;
  }
}
.rtm__contacts-info-text-item {
  color: #373737;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}
@media (min-width: 1200px) {
  .rtm__contacts-info-text-item {
    font-size: 20px;
  }
}
.rtm__contacts-socials {
  display: flex;
  gap: 15px;
}
@media (min-width: 1200px) {
  .rtm__contacts-socials {
    gap: 16px;
  }
}
.rtm__contacts-socials-wrapper {
  width: 100%;
}
.rtm__contacts-socials-item-icon {
  width: 40px;
  height: 40px;
}

/*# sourceMappingURL=bonus.css.map */
